
#titular{
  width: 40%;
  float: right;
  text-align: center;
  background-color: rgb(128, 128, 128,0.3);
  margin: 2%;
  border-radius: 2rem;
  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
 
}
h1{
  margin: 2%;
   color: rgb(0, 0, 0,0.4);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#java{
  width: 10%;
float: right;
  padding: 2%;
}
.icono{
  width: 3%;
}