<!-- Header -->
<header id="header">
  <link rel="stylesheet" href="/html_plantilla/assets/css/laura.css">
  <div class="inner">
      <a href="/" class="image avatar"><img src="/assets/css/images/panda-logo.jpg" alt="Logo PandaPixel Studio" /></a>
      <h1><strong>PandaPixel Studio</strong><br/>
      Creatividad, diseño y desarrollo a tu medida.</h1>
  </div>
  <br/>
  <div class="inner">
    <h1><strong>El equipo: </strong><br/>
    Conoce algo más sobre nosotros</h1><br/>
					<div>
						<a href="/portfolioLaura" class="image avatar nosotros"><img src="/assets/css/images/laura.jpg" alt="Laura" /></a>
						<a href="/portfolioPablo" class="image avatar nosotros"><img src="/assets/css/images/pablo.jpg" alt="Pablo" /></a>
						<a href="/portfolioJavier" class="image avatar nosotros"><img src="/assets/css/images/javi.jpg" alt="Javier" /></a>
						<a href="/portfolioSofia" class="image avatar nosotros"><img src="/assets/css/images/sofia.jpg" alt="Sofia" /></a>
					</div>
  </div>

</header>


<div id="titular">
  <h1>Desarrolladora Backend</h1>

  <div id="proyectos"><h2>   Proyectos realizados:</h2></div>
  <div id="lenguajes"><h2>Lenguajes:</h2></div>
  <div id="redesSociales"><h2>Redes Sociales:</h2></div>
  <div id="contacto"><h2>Contacto:</h2></div>
    <img src="../html_plantilla/assets/css/images/java.png" alt="" id="java">
</div>


