<!-- Header -->
<header id="header">
  <link rel="stylesheet" href="/html_plantilla/assets/css/laura.css">
  <div class="inner">
      <a href="/" class="image avatar"><img src="/assets/css/images/panda-logo.jpg" alt="Logo PandaPixel Studio" /></a>
      <h1><strong>PandaPixel Studio</strong><br/>
      Creatividad, diseño y desarrollo a tu medida.</h1>
  </div>
  <br/>
  <div class="inner">
    <h1><strong>El equipo: </strong><br/>
    Conoce algo más sobre nosotros</h1><br/>
					<div>
						<a href="/portfolioPablo" class="image avatar nosotros"><img src="/assets/css/images/pablo.jpg" alt="Pablo" /></a>
						<a href="/portfolioJavier" class="image avatar nosotros"><img src="/assets/css/images/javi.jpg" alt="Javier" /></a>
						<a href="/portfolioSofia" class="image avatar nosotros"><img src="/assets/css/images/sofia.jpg" alt="Sofia" /></a>
					</div>
  </div>

</header>


<div id="titular">
  <h1 id="laura">Desarrolladora Backend</h1>
</div>

 
 

  <div class="contenedor">
         <div class="tarjeta-derecha" >
          <h2>Estudios</h2>
          <p>Lorem ipsum dolor sit </p>
         </div>
         <div class="tarjeta-derecha" >
          <h2>proyectos</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero minus laborum, ullam 
            labore maxime, magnam pariatur mollitia culpa eligendi tenetur saepe at possimus similique illo rem odit accusamus placeat accusantium?</p>
         </div>
         <div class="tarjeta-derecha" >
          <h2>Aficiones</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero minus laborum, ullam 
            labore maxime, magnam pariatur mollitia culpa eligendi tenetur saepe at possimus similique illo rem odit accusamus placeat accusantium?</p>
         </div>
         </div>
   
<div class="imagen">
  <img src="../html_plantilla/assets/css/images/laura.jpg" alt="" id="foto">
</div>
  




